<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <xacro:arg name="name" default="hdf7_9_onrobot_rg2"/>
  <xacro:arg name="use_sim" default="false"/>
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="initial_positions_file" default=""/>
  <xacro:arg name="gripper_prefix" default="gripper_"/>
  <xacro:arg name="controllers_file" default=""/>

  <xacro:include filename="$(find hdr_description)/urdf/robots/hdf7_9/hdf7_9.urdf.xacro"/>

  <xacro:include filename="$(find hdr_description)/urdf/tools/onrobot_gripper/rg2/onrobot_rg2.xacro"/>
  <xacro:include filename="$(find hdr_description)/urdf/tools/onrobot_gripper/rg2/onrobot_rg2_model_macro.xacro"/>

  <xacro:onrobot_rg2 prefix="$(arg gripper_prefix)" effector_base="tool0" use_sim="$(arg use_sim)"/>

  <xacro:property name="initial_positions_file" value="$(arg initial_positions_file)"/>
  <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions'] if initial_positions_file != '' else dict(j1=0.0,j2=1.5707,j3=0.0,j4=0.0,j5=0.0,j6=0.0)}"/>
  <xacro:property name="sim" value="$(arg use_sim)"/>
  <xacro:property name="mock" value="$(arg use_mock_hardware)"/>

  <ros2_control name="$(arg name)" type="system">
    <hardware>
      <xacro:if value="${sim}">
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </xacro:if>
      <xacro:if value="${mock}">
        <plugin>mock_components/GenericSystem</plugin>
      </xacro:if>
      <xacro:unless value="${sim or mock}">
        <plugin>hdr_hardware_interface/HDRRobotHardware</plugin>
        <param name="robot_model">hdf7_9</param>
      </xacro:unless>
    </hardware>

    <joint name="j1">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${initial_positions['j1']}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="j2">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${initial_positions['j2']}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="j3">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${initial_positions['j3']}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="j4">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${initial_positions['j4']}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="j5">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${initial_positions['j5']}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="j6">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${initial_positions['j6']}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="$(arg gripper_prefix)finger_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="$(arg gripper_prefix)right_outer_knuckle_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="$(arg gripper_prefix)left_inner_knuckle_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="$(arg gripper_prefix)right_inner_knuckle_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="$(arg gripper_prefix)left_inner_finger_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="$(arg gripper_prefix)right_inner_finger_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <xacro:if value="$(arg use_sim)">
    <gazebo>
      <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(arg controllers_file)</parameters>
        <controller_manager_node_name>controller_manager</controller_manager_node_name>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
